@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Montserrat:wght@300;700&family=Oxygen&family=Poppins:wght@300;400;500&family=Roboto:wght@500&family=Unbounded:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    background-image: radial-gradient(#0c0000, #080018);
    background-repeat: no-repeat;
    max-height: max-content;
    /* border: 2px solid yellow; */
    
  }

  nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    padding: 10px 150px;
    justify-self: center;
    align-items: center;
    /* background-color: aqua; */
    /* border: 2px solid red; */

}

nav img {
    width: 90px;
    margin-left: -10%;
}

.nav-links {
    flex: 1;
    text-align: right;
    margin-top: -80px;
    /* border: 4px solid purple; */
    /* max-width: 399px; */
    margin: 0px 190px;
    padding: 0px 50px;
    flex-wrap: wrap;
    justify-content: center;
    

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 14px;
    position: relative;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;


}

.nav-links ul li a {
    color: rgb(202, 201, 201);
    text-decoration: none;
    font-size: 17px;


}

.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #ff2a1a;
    display: block;
    margin: auto;
    transition: 0.7s;
    color: rgb(255, 255, 255);


}

.nav-links ul li:hover::after {
    width: 100%;
}

/* ---About intro----- */
.intro {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-image: radial-gradient(#0c0000, #080018);
    background-repeat: no-repeat;
    border: 2px solid #e25e06;
  }
  
  .intro-text {
    display: flex;
    /* flex: 0; */

    /* padding-right: 20px; */
    align-items: center;
    margin-left: 10px;
    /* margin: 10px 50px; */
    padding: 80px 0px;
    border: 2px solid #e6ff06;;
  }
  
  .intro-text h1 {
    
    font-size: 4em;
    color: #e64716;
    border: 2px solid green;
    text-align: center;
    margin: 60px 170px;
    width: 250px;
  }
  
  .intro-text p {
    margin-right:40px ;
    font-size: 1.5em;
    color: #f5e7e7;
    border: 2px solid #e6ff06;
    text-align: center;
  }
  
  .intro-img {
    flex: 1;
    text-align: right;
  }
  
  .intro-img img {
    max-width: 100%;
    height: auto;
  }

  /* ---Goals section----- */
  /* .goals {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  
  /* .goals-text, .goals-img {
    margin: 180px 0px;
    padding: 50px 100px;
    width: 100%; */
    /* text-align: center; */
    /* color: white;
    border: 2px solid red;
  } */
  /* .goals-text h1{
    display: flex;
    height: 150px;
    justify-content: center;
    border: 1px solid pink;
    padding: 60px 10px;
  } */
  

  /* Cards section */
  .container {
    width: 1200px !important;
    padding: 0 !important;
    margin-right: auto;
    margin-left: auto;
  
    @media screen and (min-width: 992px) and (max-width: 1439px) {
      max-width: 1279px !important;
      padding: 0 !important;
      margin: 0 80px !important;
      width: auto !important;
    }
  
    @media screen and (max-width: 991px) {
      max-width: 959px !important;
      margin: 0 16px !important;
      padding: 0 !important;
      width: auto !important;
    }
  }
  
  .gradient-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: 30px;
    @media screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }
  
  .container-title {
    text-align: center;
    padding: 0 !important;
    margin-bottom: 20px;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    line-height: 100px;
  }
  .container p{
    color: whitesmoke;
  }
  
  .card {
    max-width: 400px;
    border: 0;
    width: 100%;
    margin-inline: auto;
  }
  
  .container-card {
    position: relative;
    border: 2px solid transparent;
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    background-clip: padding-box;
    border-radius: 45px;
    padding: 40px;
    img {
      margin-bottom: 32px;
    }
  }
  
  .bg-green-box,
  .bg-white-box,
  .bg-yellow-box,
  .bg-blue-box {
    position: relative;
  }
  
  .bg-green-box::after,
  .bg-white-box::after,
  .bg-yellow-box::after,
  .bg-blue-box::after {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    z-index: -1;
    border-radius: 45px;
  }
  
  .bg-green-box::after {
    background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
  }
  
  .bg-white-box::after {
    background: linear-gradient(71deg, #121013, #b0afb0, #121013);
  }
  
  .bg-yellow-box::after {
    background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
  }
  
  .bg-blue-box::after {
    background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
  }
  
  .card-title {
    font-weight: 600;
    color: rgb(255, 255, 255);
    letter-spacing: -0.02em;
    line-height: 40px;
    font-style: normal;
    font-size: 28px;
    padding-bottom: 8px;
  }
  
  .card-description {
    font-weight: 400;
    line-height: 32px;
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 16px;
    max-width: 470px;
  }
    
  







/* footer part */

#footer {
    margin-top: 50px;
    position: relative;
    font-family: sans-serif;
    height: 20%;
    /* border: 2px solid yellow; */
    background-color: rgba(0, 0, 0, 0.336);
    color: white;
    display: grid;
    grid-template-columns: 2fr 0.9fr 0.7fr 0.2fr 1.2fr;
    grid-template-rows: 1.9fr 0.1fr;
    grid-template-areas: 
    "logo product resource resource business"   
    "social social . design design";
    padding: 25px 1px;
  }
  
  li {
    list-style: none;
    padding-top: 2%;
    font-size: .9em;
  }
  
  .flex {
    display: flex;
  }
  
  #footer li a {
    color: #065299;
    text-decoration: none;
  }
  
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: logo;
    padding-left: 1rem;
    padding-top: .5rem;
  }
  
  .img {
    padding-top: .5rem;
    width: 80px;
    height: 80px;
  }
  
  .logo h4 {
    line-height: 5rem;
    margin-left: 1rem;
    font-size: 20px;
    border-left: 1px solid white;
    padding: 0px 10px;
    
  }
  
  .copy {
    padding-top: .3rem;
    font-size: .7em;
    color: #7d8287;
  }
  
  .Links {
    /* grid-area: links; */
    color: #eef5fc;
    
  }
  .Links .ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
  }
  
  .Links .ul li {
    margin: 0 10px;
    
  }
  
  .Links  a {
    color: #cacec3 !important;
    text-decoration: none;
  }
  .Links  a:hover {
    color: #e25e06 !important;
    text-decoration: none;
    font-size: large;

  }


  
  .initiatives {
    /* grid-area: initiative; */
  }
  .initiatives a{
    /* grid-area: initiative; */
    text-decoration: none;
    color:#cacec3 !important;
  }
  .initiatives a:hover{
    color: #e25e06 !important;
    text-decoration: none;
    font-size: large;
  }

  
  .contact {
    /* border: 1px solid #ccc; */
    max-height: 12rem;
    width: 200px;
    grid-area: contact;
    margin-top: -18rem;
    margin-right: 3rem;
    padding: 10px 0px;
    /* padding-right: .2rem; */
  }
  /* .contact img{
    display: flex;
    width: 20px;

    height: 20px;
    padding-left: -1px ;
  } */
  .contact p{
    display: inline-block;
    font-size: 16px;
    padding-left: 10px;
    margin: 0px -10px;
    padding-top: 1px;
    color: #cecece;
    padding: 3px 10px;
  }
  .contact  h6{
    display: flex;
    padding: 1px 50px;
    font-size: 19px;
    font-family: 'poppins', sans-serif;
  }
  .contact p img{
    display: inline-block;
    width: 31px;
    height: 31px;
        
    }
    .contact a{
      text-decoration: none !important;
      color: #eef5fc;
    }
  
  .social { 
    grid-area: social;
    padding-left: 1.3rem;
    padding-bottom: .3rem; 
    font-size: .6em;
    display: flex;
    /* border: 1px solid green; */
    margin: 25px 25px;
    width: 250px;
  }
  .social a{
    padding: 2px 8px;
    color: #eef5fc;
    display: inline-block;
  }
  .social a img:hover{
    cursor: pointer !important;
    padding: 2px 8px;
    color: #eef5fc;
    display: inline-block;
  }
  .social h6{ 
    grid-area: social;
    padding-left: 2.3rem;
    padding-bottom: 0.0em; 
    font-size: 1.9em;
    display: flex;
    border: 1px solid greenyellow;
    width: 10.2rem;
    height: 3rem;
    margin-left: 30px;
  }
  
  .design {
    grid-area: design;
    font-size: .6em;
    text-align: right;
    padding-right: .3rem;
    padding-bottom: .3rem;
  }
  
  .icons {
    width: 1rem;
    height: 1rem;
    padding-left: .3rem;
  }