@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Montserrat:wght@300;700&family=Oxygen&family=Poppins:wght@300;400;500&family=Roboto:wght@500&family=Unbounded:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');





* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
  background-image: radial-gradient(#0c0000, #080018);
  border: 2px solid yellow;
}


.header {
    min-height: 100vh;
    width: 100%;
    background-image: radial-gradient(#0c0000, #080018);

    background-position: center;
    background-size: cover;
    position: relative; 
}

nav {
    display: flex;
    padding: 10px 150px;
    justify-self: center;
    align-items: center;
    /* background-color: aqua; */
    /* border: 2px solid red; */

}

nav img {
    width: 90px;
    margin-left: -10%;
}

.nav-links {
    flex: 1;
    text-align: right;
    margin-top: -80px;
    /* border: 4px solid purple; */
    /* max-width: 399px; */
    margin: 0px 190px;
    padding: 0px 50px;
    flex-wrap: wrap;
    justify-content: center;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 14px;
    position: relative;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;


}

.nav-links ul li a {
    color: rgb(202, 201, 201);
    text-decoration: none;
    font-size: 17px;


}

.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #ff2a1a;
    display: block;
    margin: auto;
    transition: 0.7s;
    color: rgb(255, 255, 255);


}

.nav-links ul li:hover::after {
    width: 100%;
}


/* firstsection */
.container {
    display: flex;
    height: 110vh; /* Full height of the viewport */
    max-width: 60%;
    border: 2px solid red;
  }
  .left-section,
.right-section {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}
  
  .left-section {
    flex: 2; /* Takes 50% of the width */
     /* Adjust background color as needed */
     /* background-color: pink; */
    color: #fff; /* Adjust text color as needed */
    /* border: 1px solid pink; */
    padding: 35px;
    box-sizing: border-box;
  }
  .text{
    /* border: 1px solid red; */
    margin: 5px 10px;
    padding: 35px 0px
    
}
.text h1 {
    font-size: 65px;
    /* border: 1px solid blue; */
}
.animate-character
{ font-family: 'Exo 2', sans-serif;
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
  font-size: 60px;
  font-weight: 900;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.text p{
    margin: 40px 0 40px;
    font-size: 18px;
    color: #fff;
    /* border: 1px solid green; */
}
.text button {
    margin: 40px 0 40px;
    font-size: 18px;
    color: #fffffff1;
    background-color: rgba(23, 146, 202, 0.623);
    padding: 6px 16px;
    font-family: 'Roboto', sans-serif;
    border-radius: 11px;
    cursor: pointer;
    
    
}
.text button:hover {
    margin: 40px 0 40px;
    font-size: 18px;
    color: #fffffff1;
    background-color: rgba(255, 72, 0, 0.925);
    padding: 6px 16px;
    font-family: 'Roboto', sans-serif;
    border-radius: 11px;
    cursor: pointer;
    animation: shake 0.8s infinite ease-in-out;
}
@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25%,
    75% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    
}



.right-section {
    flex: 1; /* Takes 50% of the width */
     /* Adjust background color as needed */
    color: #fff; /* Adjust text color as needed */
    /* background-color: brown; */
    padding: 20px;
    /* border: 1px solid green; */
    box-sizing: border-box;
    text-align: right;
    border: 2px solid white;
  }
/* .text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
} */






nav .bi.bi-x-lg {
    /* Your styles here */
    display: none;
    color: #ffffff; /* Change to your desired color */
    font-size: 25px; 
    margin-left: 10px;    
  }
nav .bi.bi-list {
    /* Your styles here */
    display: none;
    color: #ffffff; /* Change to your desired color */
    font-size: 29px; /* Change to your desired font size */
    margin-left: 10px;
    cursor: pointer;
  }


@media (max-width: 700px) {
    .text-box h1 {
      font-size: 40px;
    }
  
    .nav-links {
      position: fixed;
      background: #000a29d5;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -400px; /* Initially hide off-screen */
      text-align: left;
      z-index: 2;
      transition: right 1s; /* Use right property for the transition */
    }
  
    .nav-links ul li {
      display: block;
    }
  
    .text-box p {
      font-size: 16px;
    }
  
    .text-box button {
      font-size: 14px;
    }
  
    nav .bi.bi-list,
    nav .bi.bi-x-lg {
      display: block;
      color: #ffffff;
      font-size: 32px;
      margin-left: 10px;
      cursor: pointer;
    }
  
    .nav-links ul {
      padding: 30px;
    }
  }
  
/* menu icon */
/* Welcome box part */
.welcome-container{
  background-image: radial-gradient(#0c0000, #080018);

}
.welcome-box {
    display: flex;
    height: 33vh; /* Full height of the viewport */
    max-width: 50%;
    border: 2px solid red;
    margin-left: 20%;
    margin-top: -5%;
    padding: 10px 10px;

      
  }

  .welcome-box h1{
    font-family: 'Montserrat', sans-serif;
    
    font-weight: 700;
    font-stretch: expanded;
    color: aliceblue;
    
    /* animation:  */
  }
  .first-line{
    animation: slideIn 0.8s ease-out;
    border: 1px solid green;
    font-size: 35px;
    font-style: italic;
    
  }
  
  @keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.second-line{

  animation: slideIn 1s ease-out;
  border: 1px solid blue;
  font-size: 55px;
  margin-top: -45px;
}
@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateX(-100%);
  }
  to {
      opacity: 1;
      transform: translateX(-1%);
  }
}
  
  .welcome {
      opacity: 0;
      transform: translatex(600px);
      transition: opacity 0.5s, transform 0.5s;
      
    }
  .welcome-text{
      color: white;
      font-size: 27px;
      border: 1px solid white;
      margin-left: 400px;
      margin-top: 10px;
      padding: 1px 30px;
      height: 50vh;
    }
      /* whats latest */
      .carousel-item {
        height: 600px;
        background-image: radial-gradient(#0c0000, #080018);  
      }
      
      .carousel-item img {
        display: block;
        height: 50%;
        margin-top: 40px ;
        margin-left: 1px;
                          
        object-fit:contain;
        border: 2px solid pink;
      }
      
      .carousel-caption {
        border: 2px solid greenyellow;
        display: flex;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
      }
      
      .carousel-control-prev,
      .carousel-control-next {
        filter: invert(10%);
      }
      
      
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        width: 3rem;
        height: 3rem;
        outline: rgb(0, 0, 0) auto 1px;
        background-size: 100%, 100%;
        border-radius: 50%;
        border: 2px solid black;
        background-image: none;
      }
      
      .carousel-control-prev-icon:after {
        content: ' ';
        font-size: 25px;
        color: rgb(255, 255, 255);
      }
      
      .carousel-control-next-icon:after {
        content: ' ';
        font-size: 25px;
        color: rgb(255, 255, 255);
      }
      
      /* footer part */

      footer {
        background-image: radial-gradient(#02062e, #080018);
        color: #afb2b4;
        padding: 80px 0;
        border: 2px solid rgb(245, 141, 159);
        margin-top: 300px;
      }
      .footer {
        padding: 5px 20px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .footer-first{
      border: 2px solid blue;
      
      
    }
    .footer-first img {
      max-width: 75px;
      border: 1px solid green;
      margin-left: -50px;
    }
    .footer h3{
      display: flex;
      flex-direction: row-reverse;
      flex-wrap:nowrap;
      align-content: normal;
      justify-content: space-between;
      font-size: 14px;
      /* border: 1px solid yellow; */
      margin-left: -70px;
      margin-right: 199px;
      margin-top: 5px;
      padding: 5px 95px;
    }
    .footer-second{
      border: 1px solid red;
      
    }
    .footer-second ul {
      
      padding: 0px 0px;
      
      }
      .footer-second ul li a {
        color: rgb(163, 159, 159);
        text-decoration: none;
        font-size: 17px;
        padding: 0 15px;
    }
    .footer-second ul a:hover{
      
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    
    }
    
    .footer-third{
      border: 1px solid rgb(226, 208, 44);
      
    }

    .footer ul {
        list-style: none;
        margin-left: -200px;
    }

    .footer>div {
        width: 220px;
    }

    footer .footer-rights {
        text-align: center;
        color: rgb(150, 150, 150);
        padding: 12px 0;
    }