@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Montserrat:wght@300;700&family=Oxygen&family=Poppins:wght@300;400;500&family=Roboto:wght@500&family=Unbounded:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* border: 1px solid rgba(23, 146, 202, 0.623); */
}
body {
    background-image: radial-gradient(#0c0000, #080018);
    background-repeat: no-repeat;
    max-height: max-content;
    overflow-x: hidden;
    width: 100vw;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: radial-gradient(#0c0000, #080018);
    background-position: center;
    background-size: cover;
    position: relative;
}

/* firstsection */
.container {
    display: flex;
    height: 110vh; /* Full height of the viewport */
    max-width: 60%;
}

.right-section {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.left-section {
    flex: 2; /* Takes 50% of the width */
    padding: 35px;
    box-sizing: border-box;
}
.text {
    margin: 5px 10px;
    padding: 35px 0px;
}
.text h1 {
    font-size: 65px;
    /* border: 1px solid blue; */
}
.animate-character {
    font-family: "Exo 2", sans-serif;
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    display: inline-block;
    font-size: 60px;
    font-weight: 900;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
.text p {
    margin: 40px 0 40px;
    font-size: 18px;
    color: #fff;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }

    25%,
    75% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }
}
.left-section dotlottie-player {
    margin-left: 10px;
    margin-top: 30px;
}
.left-section a dotlottie-player:hover {
    cursor: pointer;
}

.right-section {
    flex: 1; /* Takes 50% of the width */
    padding: 20px;
    box-sizing: border-box;
}
.right-section img {
    border: 1px solid white;
    margin: 90px 10px;
}
#lottie-player {
    position: fixed;
    transition: transform 0.5s;
}

@media (max-width: 500px) {
    .header {
        min-height: 0;
        height: 30rem;
        background-color: brown;
    }
    .container {
        margin-left: 10px;
    }
    .text {
        margin-left: 10px;
    }
    .animate-character {
        margin-left: 20px;
        font-size: 36px;
    }
    .left-section {
        padding: 0px;
        margin: 0;
    }
    .right-section {
        display: none;
    }
}

/* Welcome box part */
.welcome-container {
    width: 100vw;
    background-image: radial-gradient(#0c0000, #080018);
}
.welcome-box {
    display: flex;
    height: 33vh;
    /* Full height of the viewport */
    /* max-width: 50%; */
    /* border: 2px solid red; */
    margin-left: 20%;
    margin-top: -5%;
    padding: 10px 10px;
}

.welcome-box h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-stretch: expanded;
    color: aliceblue;
}
.first-line {
    animation: slideIn 0.3s ease-out;
    font-size: 35px;
    font-style: italic;
}
.first-line:nth-child(1) {
    animation-delay: 0s; /* No delay for the first section */
}
/* .welcome-container {
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
  }
  
  .welcome-container.visible {
    transform: translateX(0);
  } */

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.second-line {
    animation: slideIn 0.5s ease-out;
    /* border: 1px solid blue; */
    font-size: 55px;
    margin-top: -45px;
    color: #e64716;
}
.second-line:nth-child(2) {
    animation-delay: 0.5s; /* 0.5s delay for the second section */
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(-1%);
    }
}

.welcome {
    opacity: 0;
    transform: translatex(600px);
    transition: opacity 0.5s, transform 0.5s;
    padding: 70px 0px;
}
.welcome-text {
    color: white;
    font-size: 27px;
    margin-left: 400px;
    margin-top: 10px;
    padding: 1px 30px;
    height: 50vh;
}

@media (max-width: 500px) {
    .welcome-box {
        margin-left: 20px;
    }
    .welcome-text {
        width: 200px;
        padding: 0;
        height: auto;
        margin-left: 100px;
    }
    .welcome-text p {
        font-size: 20px;
    }

    .welcome-box {
        .first-line {
            font-size: 24px;
            margin-bottom: 10px;
        }
        .second-line {
            font-size: 30px;
        }
    }
}
/* Quote section  */

.blockquote-wrapper {
    display: flex;
    height: 85vh;
    padding: 0 20px;
    background-image: radial-gradient(#0c0000, #080018);
}

/* Blockquote main style */
.blockquote {
    position: relative;
    font-family: "Barlow Condensed", sans-serif;
    max-width: 620px;
    margin: 80px auto;
    align-self: center;
    background-color: #08001828;
}

/* Blockquote header */
.blockquote h2 {
    font-family: "Abril Fatface", cursive;
    position: relative; /* for pseudos */
    color: #e74848;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    border: 2px solid #fff;
    border: solid 2px;
    border-radius: 20px;
    padding: 25px;
}

/* Blockquote right double quotes */
.blockquote h2:after {
    content: "";
    position: absolute;
    border: 2px solid #e74848;
    border-radius: 0 50px 0 0;
    width: 60px;
    height: 60px;
    bottom: -60px;
    left: 50px;
    border-bottom: none;
    border-left: none;
    z-index: 3;
}

.blockquote h2:before {
    content: "";
    position: absolute;
    width: 80px;
    border: 2px solid #080018f3;
    bottom: -3px;
    left: 50px;
    z-index: 2;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
    .blockquote h2.blockquote {
        font-size: 3rem;
        line-height: 1.2;
    }
}

/* Blockquote subheader */
.blockquote h4 {
    position: relative;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    padding-top: 15px;
    z-index: 1;
    margin-left: 150px;
    padding-left: 12px;
}

.blockquote h4:first-letter {
    margin-left: -12px;
}
