/* whats latest */
/* -carousel section */
.carousel-item {
    height: 500px;
    background-image: radial-gradient(#0c0000, #080018);
}

.carousel-item img {
    display: block;
    height: 50%;
    margin-top: 40px;
    margin-left: 1px;
    object-fit: contain;
}

.carousel-caption {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.carousel-control-prev,
.carousel-control-next {
    filter: invert(10%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    outline: rgb(0, 0, 0) auto 1px;
    background-size: 100%, 100%;
    border-radius: 50%;
}

/* .carousel-control-prev-icon:after {
    content: " ";
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.carousel-control-next-icon:after {
    content: " ";
    font-size: 25px;
    color: rgb(255, 255, 255);
} */
