@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Montserrat:wght@300;700&family=Oxygen&family=Poppins:wght@300;400;500&family=Roboto:wght@500&family=Unbounded:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: radial-gradient(#0c0000, #080018);
  background-repeat: no-repeat;
  max-height: max-content;
  overflow-x: hidden;
  /* border: 2px solid yellow; */
}

/* Events section */
.card {
  box-shadow: 0 -5px 25px 0 rgba(4, 1, 63, 0.986);
  background-color: #01010e93;
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  /* border: 2px solid green; */
}

.card:hover {
  box-shadow: 0 -5px 35px 0 rgba(6, 1, 114, 0.986);
  cursor: pointer;
}

.card-img-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 300px; */
  margin-top: 10px;
  margin-left: 30px;

  border-radius: 5px 5px 0 0; /* Rounded corners at the top */
}

.card-body {
  padding: 1em;
}

.card-title {
  font-size: 1.25em;
  font-weight: bold;
  color: white;
}

.card-text {
  font-size: 1em;
  color: #b6afaf;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 15px 32px;
  background-color: #ff1e00b7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 30px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.btn-primary:hover {
  background-color: #ff1e00;
  color: white;
}

.container-core {
  max-width: 1500px;
  /* width: 1000px; */
  margin: auto;
  margin-top: 25px;
  /* border: 2px solid yellow; */
  border-radius: 40px;
  font-family: "Raleway", sans-serif;
  /* background-color: #080018; */
  background: linear-gradient(71deg, #08050941, #1a171c71, #0805094f);
}

.section-title {
  width: 100%;
  padding: 0 15px;
  text-align: center;
  justify-content: center;
  margin-bottom: 60px;
}
.section-title h2 {
  /* border: 1px solid white; */
  font-size: 35px;
  text-transform: uppercase;
  color: #ece3e3;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-align: center;
  justify-content: center;
  width: 450px;
  margin-top: 20px;
  margin-left: 33%;
}
.section-title span {
  color: orangered;
}

.row-core {
  display: flex;
  flex-wrap: wrap;
}
.coreteam-item img {
  border-radius: 20px;
  /* max-width: 90%; */
  height: 300px;
  width: 300px;
  vertical-align: middle;
}
.team {
  min-height: 100vh;
  padding: 80px 0;
}
.card {
  width: calc((100% / 3) - 40px);
  margin: 0 50px 30px;
  position: relative;
  transition: box-shadow 0.5s ease;
  border-radius: 20px;
}
/* .coreteam-item:hover{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
.card .card-img-top {
  width: calc(100% - 60px);
  position: relative;
  z-index: 1;
  transition: transform 0.5s ease;
}
/* .coreteam-item:hover img{
   transform: translatey(-60px);
} */
.card .body {
  color: white;
  border: 2px solid white;
  display: inline-block;
  margin: 10px 50px;
}
.card h3 {
  font-family: "Raleway", sans-serif;
  position: absolute;
  background: #070707bd;
  right: 0;
  bottom: 15px;
  padding: 2px 10px;
  border-radius: 4px;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
  z-index: 2;
  transition: right 0.5s ease;
  margin-left: 75px;
}
/* .coreteam-item:hover h3{
  right: 15px;
  background: #070707ea;
  
} */
.coreteam-item h3 span {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.coreteam-item .social-links {
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-left: 2px solid #d3d2d2;
  border-radius: 20px;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.5s ease;
}
.coreteam-item:hover .social-links {
  transform: translateX(0%);
  opacity: 1;
}
.coreteam-item .social-links a {
  display: block;
  height: 35px;
  width: 35px;
  line-height: 35px;
  font-size: 19px;
  border: 2px solid #b6b6b6;
  border-radius: 50%;
  margin: 3px 0;
  text-align: center;
  transition: all 0.5s ease;
}
.coreteam-item .social-links a:hover {
  border: 3px solid #d33c00;
}

.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #55acee;
}
.fa-instagram {
  color: #e1306c;
}
.fa-linkedin {
  color: #007bb5;
}
.credit a {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
}
.credit {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 479px) {
  .container-core {
    padding: 0;
    /* border: 2px solid red; */
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .navbar-nav {
    flex-direction: column;
    margin-left: 0;
  }

  .nav-item {
    width: 100%;
    text-align: center;
  }

  .navbar-brand {
    margin: auto;
    text-align: center;
  }

  .navbar-toggler {
    position: absolute;
    right: 0;
  }

  .nav-links {
    padding-top: 20px;
  }

  .row-core {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    margin: 10px;
  }

  .card-title {
    font-size: 1.02em;
    font-weight: bold;
    color: white;
  }

  .card-text {
    font-size: 0.8em;
    color: #b6afaf;
  }

  .btn-primary {
    /* background-color: #007bff; */
    border: none;
    color: white;
    padding: 15px 32px;
    background-color: #ff1e00b7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 42px;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  .btn-primary:hover {
    background-color: #ff6b57;
    color: white;
  }
  .section-title {
    width: 100%;
    padding: 0 15px;
    text-align: center;
    justify-content: center;
    margin-bottom: 60px;
  }
  .section-title h2 {
    font-size: 35px;
    text-transform: uppercase;
    color: #ece3e3;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    text-align: center;
    justify-content: center;
    width: 225px;
    margin-top: 5%;
    margin-left: 18%;

    /* margin-left: 0%; */
  }
  .section-title span {
    color: orangered;
  }
}
