#footer {
    margin-top: 50px;
    position: relative;
    font-family: sans-serif;
    height: 20%;
    /* border: 2px solid yellow; */
    background-color: rgba(0, 0, 0, 0.336);
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 0.2fr 1.2fr;
    grid-template-rows: 2fr 0.1fr;
    grid-template-areas:
        "logo links initiatives . contact"
        "social . . design design";
    padding: 25px 1px;
}

li {
    list-style: none;
    padding-top: 2%;
    font-size: 0.9em;
}

.flex {
    display: flex;
}

#footer li a {
    color: #065299;
    text-decoration: none;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: logo;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.img {
    padding-top: 0.5rem;
    width: 80px;
    height: 80px;
}

.logo h4 {
    line-height: 5rem;
    margin-left: 1rem;
    font-size: 20px;
    border-left: 1px solid white;
    padding: 0px 10px;
}

.copy {
    padding-top: 0.3rem;
    font-size: 0.7em;
    color: #7d8287;
}

.Links {
    grid-area: links;
    color: #eef5fc;
}
.Links .ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.Links .ul li {
    margin: 0 10px;
}

.Links a {
    color: #cacec3 !important;
    text-decoration: none;
}
.Links a:hover {
    color: #e25e06 !important;
    text-decoration: none;
    /* font-size: medium; */
}

.initiatives {
    grid-area: initiatives;
}
.initiatives a {
    text-decoration: none;
    color: #cacec3 !important;
}
.initiatives a:hover {
    color: #e25e06 !important;
    text-decoration: none;
    /* font-size: medium; */
}

.contact {
    /* border: 1px solid #ccc; */
    max-height: 12rem;
    width: 200px;
    grid-area: contact;
    padding: 10px 0px;
    /* padding-right: .2rem; */
}
/* .contact img{
        display: flex;
        width: 20px;

        height: 20px;
        padding-left: -1px ;
      } */
.contact p {
    display: inline-block;
    font-size: 16px;
    padding-left: 10px;
    margin: 0px -10px;
    padding-top: 1px;
    color: #cecece;
    padding: 3px 10px;
}
.contact h6 {
    display: flex;
    padding: 1px 50px;
    font-size: 19px;
    font-family: "poppins", sans-serif;
}
.contact p img {
    display: inline-block;
    width: 31px;
    height: 31px;
}
.contact a {
    text-decoration: none !important;
    color: #eef5fc;
}

.social {
    grid-area: social;
    padding-left: 1.3rem;
    padding-bottom: 0.3rem;
    font-size: 0.6em;
    display: flex;
    /* border: 1px solid green; */
    margin: 25px 25px;
    width: 250px;
}
.social a {
    padding: 2px 8px;
    color: #eef5fc;
    display: inline-block;
    /* border: 1px solid red; */
}
.social a img:hover {
    cursor: pointer !important;
    padding: 2px 4px;
    color: #eef5fc;
    transform: scale(1.4);
    display: inline-block;
}
.social h6 {
    grid-area: social;
    padding-left: 2.3rem;
    padding-bottom: 0em;
    font-size: 1.9em;
    display: flex;
    border: 1px solid greenyellow;
    width: 10.2rem;
    height: 3rem;
    margin-left: 30px;
}

.design {
    grid-area: design;
    font-size: 0.6em;
    text-align: right;
    padding-right: 0.3rem;
    padding-bottom: 0.3rem;
    margin-top: 3rem;
    margin-right: 3rem;
}

.icons {
    width: 1rem;
    height: 1rem;
    padding-left: 0.3rem;
}
