@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Montserrat:wght@300;700&family=Oxygen&family=Poppins:wght@300;400;500&family=Roboto:wght@500&family=Unbounded:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-image: radial-gradient(#0c0000, #080018);
    background-repeat: no-repeat;
    max-height: max-content;
    /* border: 2px solid yellow; */
}

/* faculty teams section */

.team h2 {
    color: rgb(226, 224, 219);
    /* border: 2px solid salmon; */
    margin: auto;
    width: 300px;
    height: 50px;
    /* d */
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    position: relative;
    align-items: center;
    /* padding: 5px 30px; */
}
.team #team {
    font-size: 35px;

    /* text-transform: uppercase; */
    color: #dd3005;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}
.team p {
    color: #cecece;
    margin-top: 50px;
    margin-left: 170px;
    font-size: 18px;
    /* margin: auto; */
    width: 1000px;
}
.container {
    max-width: 990px;
    margin: auto;
    margin-top: 25px;
    /* border: 2px solid yellow; */
    border-radius: 40px;
    font-family: "Raleway", sans-serif;
    /* background-color: #080018; */
    background: linear-gradient(71deg, #08050941, #1a171c71, #0805094f);
}

.section-title {
    width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 60px;
}
.section-title h2 {
    font-size: 35px;
    text-transform: uppercase;
    color: #ece3e3;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    width: 450px;
    margin-top: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img {
    border-radius: 20px;
    max-width: 80%;
    vertical-align: middle;
}
.team {
    min-height: 100vh;
    padding: 80px 0;
}
.team-item {
    width: calc((100% / 2) - 194px);
    margin: 0 35px 30px;
    position: relative;
    transition: box-shadow 0.5s ease;
    border-radius: 20px;
}
.team-item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.team-item img {
    width: calc(100% - 60px);
    position: relative;
    z-index: 1;
    transition: transform 0.5s ease;
}
.team-item:hover img {
    transform: translateX(60px);
}
.team-item h4 {
    font-family: "Raleway", sans-serif;
    position: absolute;
    background: #070707bd;
    right: 0;
    bottom: 15px;
    padding: 2px 10px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    z-index: 2;
    transition: right 0.5s ease;
    margin-left: 75px;
}
.team-item:hover h4 {
    right: 15px;
    background: #070707ee;
}
.team-item h4 span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
.team-item .social-links {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-left: 2px solid #d3d2d2;
    border-radius: 20px;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s ease;
}
.team-item:hover .social-links {
    transform: translateX(0%);
    opacity: 1;
}
.team-item .social-links a {
    display: block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-size: 19px;
    border: 2px solid #b6b6b6;
    border-radius: 50%;
    margin: 3px 0;
    text-align: center;
    transition: all 0.5s ease;
}
.team-item .social-links a:hover {
    border: 3px solid #d33c00;
}

/* .fa-facebook {
    color: #3B5998;
  }
  .fa-twitter {
    color: #55ACEE;
  } */

.fa-envelope {
    color: #4ac6ff;
}
.fa-linkedin {
    color: #007bb5;
}
.credit a {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
}
.credit {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 991px) {
    .team-item {
        width: calc(50% - 30px);
    }
}
@media (max-width: 575px) {
    .team-item {
        width: calc(100% - 30px);
    }
}

/* Core team stylings */

.container-core {
    max-width: 990px;
    margin: auto;
    margin-top: 25px;
    /* border: 2px solid yellow; */
    border-radius: 40px;
    font-family: "Raleway", sans-serif;
    /* background-color: #080018; */
    background: linear-gradient(71deg, #08050941, #1a171c71, #0805094f);
}

.section-title {
    width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 60px;
}
.section-title h2 {
    font-size: 35px;
    text-transform: uppercase;
    color: #ece3e3;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    width: 450px;
    margin-top: 20px;
}

.row-core {
    display: flex;
    flex-wrap: wrap;

    /* justify-content: center; */
}
img {
    border-radius: 20px;
    max-width: 68%;
    vertical-align: middle;
}
.team {
    min-height: 100vh;
    padding: 80px 0;
}
.coreteam-item {
    width: calc((100% / 3) - 30px);
    margin: 0 15px 30px;
    position: relative;
    transition: box-shadow 0.5s ease;
    border-radius: 20px;
}
.coreteam-item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.coreteam-item img {
    width: calc(100% - 60px);
    position: relative;
    z-index: 1;
    transition: transform 0.5s ease;
}
.coreteam-item:hover img {
    transform: translateX(60px);
}
.coreteam-item h3 {
    font-family: "Raleway", sans-serif;
    position: absolute;
    background: #070707bd;
    right: 0;
    bottom: 15px;
    padding: 2px 10px;
    border-radius: 4px;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    z-index: 2;
    transition: right 0.5s ease;
    margin-left: 75px;
}
.coreteam-item:hover h3 {
    right: 15px;
    background: #070707ea;
}
.coreteam-item h3 span {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
.coreteam-item .social-links {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-left: 2px solid #d3d2d2;
    border-radius: 20px;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s ease;
}
.coreteam-item:hover .social-links {
    transform: translateX(0%);
    opacity: 1;
}
.coreteam-item .social-links a {
    display: block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-size: 19px;
    border: 2px solid #b6b6b6;
    border-radius: 50%;
    margin: 3px 0;
    text-align: center;
    transition: all 0.5s ease;
}
.coreteam-item .social-links a:hover {
    border: 3px solid #d33c00;
}

.fa-facebook {
    color: #3b5998;
}
.fa-twitter {
    color: #55acee;
}
.fa-instagram {
    color: #e1306c;
}
.fa-linkedin {
    color: #007bb5;
}
.credit a {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
}
.credit {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 991px) {
    .team-item {
        width: calc(50% - 30px);
    }
}
@media (max-width: 575px) {
    .team-item {
        width: calc(100% - 30px);
    }
}

/* Web develpoer section stylings */
.container-web {
    max-width: 990px;
    margin: auto;
    margin-top: 25px;
    /* border: 2px solid yellow; */
    border-radius: 40px;
    font-family: "Raleway", sans-serif;
    /* background-color: #080018; */
    background: linear-gradient(71deg, #08050941, #1a171c71, #0805094f);
}

.section-title {
    width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 60px;
}
.section-title h2 {
    font-size: 35px;
    text-transform: uppercase;
    color: #ece3e3;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    width: 480px;
    margin-top: 20px;
}

.row-web {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}
img {
    border-radius: 20px;
    max-width: 68%;
    vertical-align: middle;
}
.team {
    min-height: 100vh;
    padding: 80px 0;
}
.webteam-item {
    width: calc((100% / 3) - 30px);
    margin: 0 15px 30px;
    position: relative;
    transition: box-shadow 0.5s ease;
    border-radius: 20px;
}
.webteam-item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.webteam-item img {
    width: calc(100% - 60px);
    position: relative;
    z-index: 1;
    transition: transform 0.5s ease;
}
.webteam-item:hover img {
    transform: translateX(60px);
}
.webteam-item h3 {
    font-family: "Raleway", sans-serif;
    position: absolute;
    background: #070707d5;
    right: 0;
    bottom: 15px;
    padding: 2px 10px;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    z-index: 2;
    transition: right 0.5s ease;
    margin-left: 75px;
}
.webteam-item:hover h3 {
    right: 15px;
    background: #070707f1;
}
.webteam-item h3 span {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
.webteam-item .social-links {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-left: 2px solid #d3d2d2;
    border-radius: 20px;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s ease;
}
.webteam-item:hover .social-links {
    transform: translateX(0%);
    opacity: 1;
}
.webteam-item .social-links a {
    display: block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-size: 19px;
    border: 2px solid #b6b6b6;
    border-radius: 50%;
    margin: 3px 0;
    text-align: center;
    transition: all 0.5s ease;
}
.webteam-item .social-links a:hover {
    border: 3px solid #d33c00;
}

.fa-facebook {
    color: #3b5998;
}
.fa-twitter {
    color: #55acee;
}
.fa-instagram {
    color: #e1306c;
}
.fa-linkedin {
    color: #007bb5;
}
.credit a {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
}
.credit {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 991px) {
    .team-item {
        width: calc(50% - 30px);
    }
}
@media (max-width: 575px) {
    .team-item {
        width: calc(100% - 30px);
    }
}
