@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Montserrat:wght@300;700&family=Oxygen&family=Poppins:wght@300;400;500&family=Roboto:wght@500&family=Unbounded:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    background-image: radial-gradient(#0c0000, #080018);
    background-repeat: no-repeat;
    max-height: max-content;
    /* border: 2px solid yellow; */
    
  }

  nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    padding: 10px 150px;
    justify-self: center;
    align-items: center;
    
    /* background-color: aqua; */
    /* border: 2px solid red; */

}
.navbar{
  transition: background-color 0.5s;
  
}
.navbar.scrolled{
  background-color: #080018;
}

.navbar img {
    width: 60px;
    margin-left: -10%;
    /* border: 1px solid salmon; */
    border-radius: 0%;
}

.nav-links {
    flex: 1;
    text-align: right;
    margin-top: -80px;
    /* border: 4px solid purple; */
    /* max-width: 399px; */
    margin: 0px 190px;
    padding: 0px 50px;
    flex-wrap: wrap;
    justify-content: center;
    

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 14px;
    position: relative;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;


}

.nav-links ul li a {
    color: rgb(202, 201, 201);
    text-decoration: none;
    font-size: 17px;


}

.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #ff2a1a;
    display: block;
    margin: auto;
    transition: 0.7s;
    color: rgb(255, 255, 255);


}

.nav-links ul li:hover::after {
    width: 100%;
}

/* teams section */

.team h2{
  color: rgb(226, 224, 219);
  /* border: 2px solid salmon; */
  margin: auto;
  width: 300px;
  height: 50px;
  /* d */
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  position:relative;
  align-items: center;
  /* padding: 5px 30px; */
}
.team #team{
  font-size: 35px;
  
  /* text-transform: uppercase; */
  color: #dd3005;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}
.team p{
  color: #cecece;
  margin-top: 50px;
  margin-left: 170px;
  font-size: 18px;
  /* margin: auto; */
  width: 1000px;
}
.container{
    max-width: 990px;
    margin:auto;
    margin-top: 25px;
    /* border: 2px solid yellow; */
    border-radius: 40px;
    font-family: 'Raleway', sans-serif;
    /* background-color: #080018; */
    background: linear-gradient(71deg, #08050941, #1a171c71, #0805094f);
  }
  

  .section-title{
    width: 100%;
    padding:0 15px;
    text-align: center;
    margin-bottom: 60px;
    
  }
  .section-title h2{
    font-size: 35px;
    text-transform: uppercase;
    color: #ece3e3;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    width: 450px;
    margin-top: 20px;
  }
  

  
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  img{
    border-radius: 20px;
    max-width: 80%;
    vertical-align: middle;
  }
  .team{
    min-height: 100vh;
    padding: 80px 0;
  }
  .team-item{
    width: calc((100% / 2) - 194px);
    margin:0 35px 30px;
    position: relative;
    transition: box-shadow 0.5s ease; 
    border-radius: 20px;
    

  }
  .team-item:hover{
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .team-item img{
    width: calc(100% - 60px);
    position: relative;
    z-index: 1;
    transition: transform 0.5s ease;
  }
  .team-item:hover img{
     transform: translateX(60px);
  }
  .team-item h4{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    background: #000; 
    right: 0;
    bottom: 15px;
    padding: 2px 10px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    z-index: 2;
    transition: right 0.5s ease;
    margin-left: 75px;
  }
  .team-item:hover h4{
    right: 15px;
  }
  .team-item h4 span{
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
  }
  .team-item .social-links{
    position: absolute;
    left:0;
    top:0;
    width: 60px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-left: 2px solid #d3d2d2;
    border-radius: 20px;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s ease;
  }
  .team-item:hover .social-links{
    transform: translateX(0%);
    opacity: 1;
  }
  .team-item .social-links a{
    display: block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-size: 19px;
    border:2px solid #b6b6b6;
    border-radius: 50%;
    margin:3px 0;
    text-align: center;
    transition: all 0.5s ease;
  }
  .team-item .social-links a:hover{
    border: 3px solid #d33c00;
  }
  
  .fa-facebook {
    color: #3B5998;
  }
  .fa-twitter {
    color: #55ACEE;
  }
  .fa-instagram {
    color: #e1306c;
  }
  .fa-linkedin {
    color: #007bb5;
  }
  .credit a{
    text-decoration: none;
    color: #fff;
    font-weight: 800;
  }
  .credit {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  @media(max-width: 991px){
     .team-item{
      width: calc(50% - 30px);
     }
  }
  @media(max-width: 575px){
     .team-item{
      width: calc(100% - 30px);
     }  
  }

  /* Core team stylings */

  .container-core{
    max-width: 990px;
    margin:auto;
    margin-top: 25px;
    border: 2px solid yellow;
    border-radius: 40px;
    font-family: 'Raleway', sans-serif;
    /* background-color: #080018; */
    background: linear-gradient(71deg, #08050941, #1a171c71, #0805094f);
  }
  

  .section-title{
    width: 100%;
    padding:0 15px;
    text-align: center;
    margin-bottom: 60px;
    
  }
  .section-title h2{
    font-size: 35px;
    text-transform: uppercase;
    color: #ece3e3;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    width: 450px;
    margin-top: 20px;
  }
  

  
  .row-core{
    display: flex;
    flex-wrap: wrap;
    
    /* justify-content: center; */
    
  }
  img{
    border-radius: 20px;
    max-width: 68%;
    vertical-align: middle;
  }
  .team{
    min-height: 100vh;
    padding: 80px 0;
  }
  .coreteam-item{
    width: calc((100% / 3) - 30px);
    margin:0 15px 30px;
    position: relative;
    transition: box-shadow 0.5s ease; 
    border-radius: 20px;
    

  }
  .coreteam-item:hover{
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .coreteam-item img{
    width: calc(100% - 60px);
    position: relative;
    z-index: 1;
    transition: transform 0.5s ease;
  }
  .coreteam-item:hover img{
     transform: translateX(60px);
  }
  .coreteam-item h3{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    background: #000; 
    right: 0;
    bottom: 15px;
    padding: 2px 10px;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    z-index: 2;
    transition: right 0.5s ease;
    margin-left: 75px;
  }
  .coreteam-item:hover h3{
    right: 15px;
  }
  .coreteam-item h3 span{
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }
  .coreteam-item .social-links{
    position: absolute;
    left:0;
    top:0;
    width: 60px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-left: 2px solid #d3d2d2;
    border-radius: 20px;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s ease;
  }
  .coreteam-item:hover .social-links{
    transform: translateX(0%);
    opacity: 1;
  }
  .coreteam-item .social-links a{
    display: block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-size: 19px;
    border:2px solid #b6b6b6;
    border-radius: 50%;
    margin:3px 0;
    text-align: center;
    transition: all 0.5s ease;
  }
  .coreteam-item .social-links a:hover{
    border: 3px solid #d33c00;
  }
  
  .fa-facebook {
    color: #3B5998;
  }
  .fa-twitter {
    color: #55ACEE;
  }
  .fa-instagram {
    color: #e1306c;
  }
  .fa-linkedin {
    color: #007bb5;
  }
  .credit a{
    text-decoration: none;
    color: #fff;
    font-weight: 800;
  }
  .credit {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  @media(max-width: 991px){
     .team-item{
      width: calc(50% - 30px);
     }
  }
  @media(max-width: 575px){
     .team-item{
      width: calc(100% - 30px);
     }  
  }





#footer {
    margin-top: 50px;
    position: relative;
    font-family: sans-serif;
    height: 20%;
    /* border: 2px solid yellow; */
    background-color: rgba(0, 0, 0, 0.336);
    color: white;
    display: grid;
    grid-template-columns: 2fr 0.9fr 0.7fr 0.2fr 1.2fr;
    grid-template-rows: 1.9fr 0.1fr;
    grid-template-areas: 
    "logo product resource resource business"   
    "social social . design design";
    padding: 25px 1px;
  }
  
  li {
    list-style: none;
    padding-top: 2%;
    font-size: .9em;
  }
  
  .flex {
    display: flex;
  }
  
  #footer li a {
    color: #065299;
    text-decoration: none;
  }
  
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: logo;
    padding-left: 1rem;
    padding-top: .5rem;
  }
  
  .img {
    padding-top: .5rem;
    width: 80px;
    height: 80px;
  }
  
  .logo h4 {
    line-height: 5rem;
    margin-left: 1rem;
    font-size: 20px;
    border-left: 1px solid white;
    padding: 0px 10px;
    
  }
  
  .copy {
    padding-top: .3rem;
    font-size: .7em;
    color: #7d8287;
  }
  
  .Links {
    /* grid-area: links; */
    color: #eef5fc;
    
  }
  .Links .ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
  }
  
  .Links .ul li {
    margin: 0 10px;
    
  }
  
  .Links  a {
    color: #cacec3 !important;
    text-decoration: none;
  }
  .Links  a:hover {
    color: #e25e06 !important;
    text-decoration: none;
    font-size: large;

  }


  
  .initiatives {
    /* grid-area: initiative; */
  }
  .initiatives a{
    /* grid-area: initiative; */
    text-decoration: none;
    color:#cacec3 !important;
  }
  .initiatives a:hover{
    color: #e25e06 !important;
    text-decoration: none;
    font-size: large;
  }

  
  .contact {
    /* border: 1px solid #ccc; */
    max-height: 12rem;
    width: 200px;
    grid-area: contact;
    margin-top: -18rem;
    margin-right: 3rem;
    padding: 10px 0px;
    /* padding-right: .2rem; */
  }
  /* .contact img{
    display: flex;
    width: 20px;

    height: 20px;
    padding-left: -1px ;
  } */
  .contact p{
    display: inline-block;
    font-size: 16px;
    padding-left: 10px;
    margin: 0px -10px;
    padding-top: 1px;
    color: #cecece;
    padding: 3px 10px;
  }
  .contact  h6{
    display: flex;
    padding: 1px 50px;
    font-size: 19px;
    font-family: 'poppins', sans-serif;
  }
  .contact p img{
    display: inline-block;
    width: 31px;
    height: 31px;
        
    }
    .contact a{
      text-decoration: none !important;
      color: #eef5fc;
    }
  
  .social { 
    grid-area: social;
    padding-left: 1.3rem;
    padding-bottom: .3rem; 
    font-size: .6em;
    display: flex;
    /* border: 1px solid green; */
    margin: 25px 25px;
    width: 250px;
  }
  .social a{
    padding: 2px 8px;
    color: #eef5fc;
    display: inline-block;
  }
  .social a img:hover{
    cursor: pointer !important;
    padding: 2px 8px;
    color: #eef5fc;
    display: inline-block;
  }
  .social h6{ 
    grid-area: social;
    padding-left: 2.3rem;
    padding-bottom: 0.0em; 
    font-size: 1.9em;
    display: flex;
    border: 1px solid greenyellow;
    width: 10.2rem;
    height: 3rem;
    margin-left: 30px;
  }
  
  .design {
    grid-area: design;
    font-size: .6em;
    text-align: right;
    padding-right: .3rem;
    padding-bottom: .3rem;
  }
  
  .icons {
    width: 1rem;
    height: 1rem;
    padding-left: .3rem;
  }